[Unit]
Description=Telegram bot Dyhanie
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=REPLACE_USER
WorkingDirectory=/home/REPLACE_USER/tgBot
EnvironmentFile=/home/REPLACE_USER/tgBot/.env
ExecStart=/home/REPLACE_USER/tgBot/.venv/bin/python /home/REPLACE_USER/tgBot/main.py
Restart=always
RestartSec=5
# чуть спокойнее логи в journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
