[Unit]
Description=Telegram bot Dyhanie
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tgBot
EnvironmentFile=/root/tgBot/.env
ExecStart=/root/tgBot/.venv/bin/python /root/tgBot/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
